@font-face{
	font-family:homoarak;
	src:url('fonts/homoarakhn/homoarak.TTF');
	font-weight:bold;
}
body{
	font-family:homoarak;
	background-image: url('../images/indepo.JPG');
	background-size:cover;
	background-attachment:fixed;

}
table{
	width:100% !important;
	border-collapse:collapse;
	
}

td{
	text-align:center;
	vertical-align:top;
}

th{
	text-transform:uppercase;
}

caption{
	caption-side:bottom;
	font-weight:900;

}

tr:hover{
	background-color:lightgrey;
}
